<!DOCTYPE html>
<html>
  <head>
    <title>JtcpTool</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="flex flex-col min-h-screen border border-red-500">
    <%= render 'shared/header' %>
    <%= render 'shared/flash_message' %>
    <div class="flex-grow bg-yellow-50">
      <%= yield %>
    </div>
    <%= render 'shared/footer' %>
  </body>
</html>
